body {
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.block {
    background: #d6d6d6;
    min-height: 500px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    background: #ffffff;
    user-select: none;
    padding: 16px;
    width: 90%;
    margin-bottom: 10px;
}
